*{
    padding: 0px;
    margin: 0px;
}

/*header section start */
.text-orange {
    color: #f08a26;
}

.btn {
    color: #fff;
    display: inline-block;
    padding: 12px 35px;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 500;
    transition: 0.5s ease;
    position: relative;
    background: #EA512E;
}

.btn:hover {
    color: #fff;
    background: #f5890d;
}
/* /header section end */


/* logo Section start */
.bg-orange {
    background: #f08a26;
}

.logo img{
    width: 170px;
    height: 150px;

}
/*/ logo Section end */